:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --btn-color: #2196F3;
  --background-color: #ffffff;  
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
} 

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--title-text-color);  
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;  
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.section-title {    
    font-size: 36px;
    line-height: 1.16;
    text-align: center;    
}

.pictures{
  display: block;
  max-width: 100%;
  height: auto;
}




/* --------------HEADER--------------- */

.header {  
  border-bottom: 1px solid #ECECEC; 
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-nav {   
  display: flex;
}

.heade-logo {  
  color: var(--btn-color);   
  margin-right: 93px;
}

.header-accent {
  color: #000000;
}

.header-nav-list{
  padding-top: 32px, 0;
  display: flex;
  align-items: center;
  }

.contacts-container {
  margin-left: auto;
}

.header-contacts {
  display: flex;
}

.header-nav-link {
  font-weight: 500;  
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--btn-color);
}

.current {
  color: var(--btn-color);
}

.header-contacts-link {
  font-weight: 500;  
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-right: 50px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--btn-color);
}


/* --------------HERO--------------- */

.hero {
  padding: 200px 0;
  background-color: #2F303A;
  text-align: center;  
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);  
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
}

.hero-btn {  
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--btn-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;  
  margin: auto;
  min-width: 160px;
}

/* --------------BENEFITS--------------- */

.benefits {  
}

.benefits-list {
  display: flex;
}

.benefits-item {
  margin-right: 30px;
}

.benefits-title {    
  line-height: 1.14;  
  text-transform: uppercase;  
  margin-bottom: 10px;
}

.benefits-text {  
  line-height: 1.71;  
  color: var(--primary-text-color);
  width: 270px;
  
}

/* --------------ACTIVITIES--------------- */

.activities {
  padding-top: 0;
}
.activities-title {
  color: var(--title-text-color);
  padding-top: 50px;
}

.activities-list {
  display: flex;  
}

.activities-item {
  margin-right: 30px;
}

/* --------------TEAM-------------- */
.team-list-item {
  width: 270px;
  height: 368px;
}

.team {  
  background-color: #F5F4FA;
}

.section-title {
  padding-bottom: 50px;
}
.team-list {
  display: flex;
}

.team-list-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-container {
  padding: 30px 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;  
  text-align: center;
}

.team-list-post {
  font-size: 16px;
  line-height: 1.19;  
  color: var(--primary-text-color);
  text-align: center;
}

/* --------------PORTFOLIO--------------- */
.btn-list {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}

.portfolio-btn {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;  
  background-color: #F5F4FA;
  cursor: pointer;  
  font-family: inherit;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 25px;  
  }

  .btn-item {
    margin-right: 8px;
  }

  .portfolio-btn:hover,
  .portfolio-btn:focus {
  color: var(--btn-color);
  background-color: var(--btn-color);
  color: var(--background-color);
  cursor: pointer;  
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
  }



  .portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;  
  }

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}


.pic-container {   
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 0 20px 24px;
}

  .portfolio-list {
  display: flex;
  flex-wrap: wrap; 
  flex-basis: 13.3;
}

  .portfolio-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list-post {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* --------------FOOTER--------------- */

.footer {
  background-color: #2f303a;  
  padding-top: 60px;
  padding-bottom: 60px;
} 


.footer-logo {
  color: var(--btn-color);  
}

.footer-accent {
  color: var(--background-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-address-item {
}

.footer-contacts-item {
  margin-top: 9px;
}
.footer-address-link {
  font-style: normal;  
  line-height: 1.71;  
  color: var(--background-color);
}

.footer-contacts-link {
  font-style: normal;  
  line-height: 1.71;  
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--btn-color);
}


